.App {
    font-family: sans-serif;
}

/* h1 {
    text-align: center;
  }
  
  form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
  label,
  input {
    display: block;
    width: 100%;
  }
  
  label {
    margin-bottom: 5px;
    height: 22px;
  }
  
  input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
  }
  
  input.error {
    border-color: red;
  }
  
  .input-feedback {
    color: rgb(235, 54, 54);
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 15px;
    background-color: rgb(70, 153, 179);
    color: white;
    border: 1px solid rgb(70, 153, 179);
    background-color: 250ms;
  }
  
  button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(70, 153, 179);
  } */

.form-login {
    background-color: #384553;
    margin-top: 30px !important;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    padding: 50px 20px 20px 20px;
    border: solid 20px rgb(147, 156, 156);
    border-radius: 10px;
}

button.ant-btn.login-form-button {
    width: 100%;
    background-color: darkcyan;
    border: none;
    color: white;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
}
.login-form-forgot {
    float: right;
    color: teal;
}

/* .login-form {
    max-width: 500px;
    background-color: blanchedalmond;
} */
.tab .ant-tabs-nav-scroll {
    overflow: hidden;
    white-space: nowrap;
    /* border-radius: 10px; */
    background-color: rgb(88, 86, 86);
    color: white;
}

.tab .ant-tabs-nav{
    width: 100%;
}

.tab .ant-tabs-nav .ant-tabs-tab{
    width: 50%;
    margin: 0px !important;
}

.tab .ant-tabs-ink-bar{
    background-color: teal;
}

.tab .ant-tabs-nav .ant-tabs-tab-active{
    background-color: teal;
    color: white;
}

.tab .ant-input:placeholder-shown {
    text-overflow: ellipsis;
    background-color: #384553;
}